@model MyModel
@{
}
<h1>ClientSample</h1>
<p>Status Code: <b>@Model.StatusCode</b></p>
<p>Server Side Duration: <strong>@Model.ServerSideDuration</strong></p>
<p>Content's Length: <strong>@Model.Count</strong></p>
<p>Summaries: <strong>@Model.ListOfWords</strong></p>
